<a href="https://colab.research.google.com/github/Yuvasrib/ML_STUDY_JAM/blob/main/ML_STUDY_JAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***ML_STUDY_JAM***

***BY , YUVA SRI B***

TASK 1 :

Writing a Python program to do the following operations:

**a)**    Loading data from CSV file

In [24]:
# import libraries

import pandas as pd

In [76]:
df=pd.read_csv("/content/ML_study_jam.csv")

**b)**   Compute the basic statistics of given data - shape, no.of columns, mean

In [26]:
df.shape

(590, 5)

In [27]:
df.columns

Index(['Store ID ', 'Store_Area', 'Items_Available', 'Daily_Customer_Count',
       'Store_Sales'],
      dtype='object')

In [28]:
df.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of      Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]>

**c)**   Splitting a data frame on values of categorical variables

In [34]:
# split the data frame into two subsets based on the Store_Sales variable
bins = ['26000','52000', '78000', '104000'] # define the bins
labels = ['0-26000', '26000-78000' , '78000-104000'] # define the bin labels
df['SalesRange'] = pd.cut(df['Store_Sales'], bins=bins, labels=labels)

In [32]:
my_data_split = df.groupby(df['SalesRange'])

In [33]:
print(my_data_split.get_group('0-26000'))

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  \
1          2.0      1461.0           1752.0                 210.0
4          5.0      1770.0           2111.0                 450.0
5          6.0      1442.0           1733.0                 760.0
7          8.0      1261.0           1507.0                1020.0
8          9.0      1090.0           1321.0                 680.0
..         ...         ...              ...                   ...
580      581.0      1167.0           1406.0                 440.0
583      584.0      1408.0           1708.0                 220.0
584      585.0      1517.0           1831.0                 610.0
587      588.0      1553.0           1831.0                 740.0
589      590.0      1240.0           1493.0                 590.0

     Store_Sales SalesRange
1        39820.0    0-26000
4        46620.0    0-26000
5        45260.0    0-26000
7        37720.0    0-26000
8        46310.0    0-26000
..           ...        ...
580      42860.0    0-26000
583      42810.0    0-26000
584      30840.0    0-26000
587      35680.0    0-26000
589      33120.0    0-26000

[224 rows x 6 columns]

**d)** Indexing of the data.

In [42]:
print(df.iloc[0,3])  #Print 0th row 2st column value

530.0

In [43]:
print(df.iloc[3,1])    #Print 3rd row 1st column value

1451.0

In [47]:
dataset=pd.DataFrame(df.iloc[:,1:4])     # Print 1st and 3rd column
dataset

     Store_Area  Items_Available  Daily_Customer_Count
0        1659.0           1961.0                 530.0
1        1461.0           1752.0                 210.0
2        1340.0           1609.0                 720.0
3        1451.0           1748.0                 620.0
4        1770.0           2111.0                 450.0
..          ...              ...                   ...
585      1227.0           1476.0                 720.0
586      1609.0           1930.0                 740.0
587      1553.0           1831.0                 740.0
588      1814.0           2174.0                 770.0
589      1240.0           1493.0                 590.0

[590 rows x 3 columns]

In [51]:
dataset=pd.DataFrame(df.iloc[2:7,0:])     # Print 2nd to 6th row 
dataset

,Store ID,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales,SalesRange
2,3.0,1340.0,1609.0,720.0,54010.0,26000-78000
3,4.0,1451.0,1748.0,620.0,53730.0,26000-78000
4,5.0,1770.0,2111.0,450.0,46620.0,0-26000
5,6.0,1442.0,1733.0,760.0,45260.0,0-26000
6,7.0,1542.0,1858.0,1030.0,72240.0,26000-78000

**e)** Display top 10 rows of data

In [49]:
df.head(10)

,Store ID,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales,SalesRange
0,1.0,1659.0,1961.0,530.0,66490.0,26000-78000
1,2.0,1461.0,1752.0,210.0,39820.0,0-26000
2,3.0,1340.0,1609.0,720.0,54010.0,26000-78000
3,4.0,1451.0,1748.0,620.0,53730.0,26000-78000
4,5.0,1770.0,2111.0,450.0,46620.0,0-26000
5,6.0,1442.0,1733.0,760.0,45260.0,0-26000
6,7.0,1542.0,1858.0,1030.0,72240.0,26000-78000
7,8.0,1261.0,1507.0,1020.0,37720.0,0-26000
8,9.0,1090.0,1321.0,680.0,46310.0,0-26000
9,10.0,1030.0,1235.0,1130.0,44150.0,0-26000

-----------------------------------------------

***TASK 2***

***2*** .    Write a python program to impute missing values with various techniques on given dataset.

***a)*** Remove rows/ attributes

In [77]:
# remove the ' Daily_Customer_Count' attribute
remove = df.drop(['Daily_Customer_Count'], axis=1)

# remove the row with index 3
remove = df.drop(3)

print(remove)

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
4          5.0      1770.0           2111.0                 450.0      46620.0
5          6.0      1442.0           1733.0                 760.0      45260.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[589 rows x 5 columns]


**b)** Replace with mean or mode

In [94]:
# replace missing values in 'Store_Area' column with mean
replace = df['Store_Area'].mean()
df['Store_Area'] = df['Store_Area'].fillna(replace )

In [100]:
df['Store_Area']

0      1659.0
1      1461.0
2      1340.0
3      1451.0
4      1770.0
        ...
585    1227.0
586    1609.0
587    1553.0
588    1814.0
589    1240.0
Name: Store_Area, Length: 590, dtype: float64

In [99]:
# replace missing values in 'Items_Available' column with mean
replace = df['Store_Sales'].mean()
df['Store_Sales'] = df['Store_Sales'].fillna(replace )
df['Store_Sales']

0      66490.0
1      39820.0
2      54010.0
3      53730.0
4      46620.0
        ...
585    56260.0
586    76470.0
587    35680.0
588    90070.0
589    33120.0
Name: Store_Sales, Length: 590, dtype: float64

In [97]:
# replace missing values in 'Daily_Customer_Count' column with mean
replace = df['Daily_Customer_Count'].mean()
df['Daily_Customer_Count'] = df['Daily_Customer_Count'].fillna(replace)
df['Daily_Customer_Count']

0      530.0
1      210.0
2      720.0
3      620.0
4      450.0
       ...
585    720.0
586    740.0
587    740.0
588    770.0
589    590.0
Name: Daily_Customer_Count, Length: 590, dtype: float64

***c)*** Write a program to remove /replace missing values
beyond a threshold  value.

In [106]:
# specify a threshold value
threshold = 0.05

# calculate the percentage of missing values in each column
percent_missing = df.isnull().sum() / len(df)
print(percent_missing)

# remove columns with more than the specified threshold of missing values
df = df.loc[:, percent_missing < threshold]
print(df)

# replace missing values in remaining columns with their means
df.fillna(df.mean(), inplace=True)
print(df)

Store ID                0.00339
Store_Area              0.00000
Items_Available         0.00000
Daily_Customer_Count    0.00000
Store_Sales             0.00000
dtype: float64
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0            530.0                 530.0      66490.0
1          2.0      1461.0            210.0                 210.0      39820.0
2          3.0      1340.0            720.0                 720.0      54010.0
3          4.0      1451.0            620.0                 620.0      53730.0
4          5.0      1770.0            450.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0            720.0                 720.0      56260.0
586      587.0      1609.0            740.0                 740.0      76470.0
587      588.0      1553.0            740.0                 740.0      35680.0
588      589.0      1814.0            770.0                 770.0      90070.0
589      590.0      1240.0            590.0                 590.0      33120.0

[590 rows x 5 columns]
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0            530.0                 530.0      66490.0
1          2.0      1461.0            210.0                 210.0      39820.0
2          3.0      1340.0            720.0                 720.0      54010.0
3          4.0      1451.0            620.0                 620.0      53730.0
4          5.0      1770.0            450.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0            720.0                 720.0      56260.0
586      587.0      1609.0            740.0                 740.0      76470.0
587      588.0      1553.0            740.0                 740.0      35680.0
588      589.0      1814.0            770.0                 770.0      90070.0
589      590.0      1240.0            590.0                 590.0      33120.0

[590 rows x 5 columns]

***THANK YOU***

--------------------------------------------------